<style>
body {
	background: <%= @color %>;
}
</style>

<h1>About Me</h1>
<%= link_to "red", about_path(color: "red"), class:"btn btn-danger" %>
<%= link_to "white", about_path(color: "white"), class:"btn btn-default" %>
<%= link_to "Blue", about_path(color: "blue"), class:"btn btn-primary" %>
<p></p>
<p>Lots of interesting stuff.</p>
<p>You chose: <%= @color %></p>

<%if @height >= 6 %>
<p>you are <%= @height - 6.00 %> ft taller than me</p>
<% else %>
<p>you are <%= 6.00 - @height %> ft smaller than me </p>
<%end%>

<%if @height >= 6 %>
<p> <%= @height%> ft! thats really tall </p>
<% else %>
<p> you are short, only <%= @height * 12 %> inches tall </p>
<%end%>